.logo {
  color: black;
}
.logo-img{
  height: 60px;
  width: auto;
}
header {
  background-color: #004913;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.button-content {
  display: flex;
}
.button {
  background-color: #eafff5;
  margin-right: 10px;
  border-radius: 25px;
  width: 100px;
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  cursor: pointer;
}

button:hover {
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .button-content {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }
}
