.form {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.border-form {
  padding: 30px 50px;
  border: 1px solid #ccc;
}

label {
  display: flex;
  flex-direction: column;
}

.signInButton {
  border-radius: 40px;
  padding: 10px 20px;
  margin-top: 10px;
}

